// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$font-main : "Roboto", "Verdana", sans-serif;

// Colors
$blue: rgb(50, 71, 128);
$white : rgb(224, 224, 224);
$black: rgb(20, 20, 20);